body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(59, 57, 57);
}

#clock {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 50px;
    background-color: rgb(59, 57, 57);
    color: white;
    font-size: 75px;
}

#date {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;
    background-color: rgb(59, 57, 57);
    color: white;
    font-size: 30px;
}